/* Styling the body */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background: url("../images/sky.png");
}

/* Stijl voor de header */
header {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 20px;
  text-align: center;
}

/* Stijl voor de lijstitems (li) in het navigatiemenu */
nav ul li {
  display: inline-block;
  margin-right: 30px;
}

/* Stijl voor de links (a) in het navigatiemenu */
nav ul li a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

/* Stijl voor de links (a) in het navigatiemenu bij hover */
nav ul li a:hover {
  text-decoration: underline;
}

/* Styling the first parallax's height, width and background color */
.hoofdstuk-1 {
  width: 100vw;
  height: 100vh;
  background: url("../images/parralax.png");
  background-size: 25%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* Styling the title of first parallax */
.hoofdstuk-1 h2 {
  margin: auto;
  padding: 10px;
  background-color: hsl(0, 0%, 42%);
  color: white;
  text-align: center;
}

/* Styling the content or paragraph */
.para-1 {
  display: flex;
  padding: 50px;
  color: white;
  font-size: 1.25rem;
  width: 33vw;
}

/* Styling the content or paragraph */
.para-2 {
  text-align: center;
  padding: 25px;
  font-size: 17px;
  font-family: Verdana;
  background-color: black;
  color: white;
}
